body {
    background-color: rgb(194, 110, 230);
    justify-items: center;
}

h1 {
    background-color: rgb(121, 189, 234);
    color: rgb(79, 3, 98);
    border: 6px solid rgb(56, 1, 83);
}

h2 {
    background-color: #66038dc7;
    color: rgba(156, 247, 247, 0.616);
    border: 4px solid rgb(71, 3, 104);
}

p {
    background-color: rgba(88, 4, 148, 0.4);
    color: rgb(100, 218, 218);
    border: 3px solid rgb(56, 2, 83);
}