body{
    background-color: rgb(94, 6, 132);
    color: azure;
}

/* Exemplos de Justify-content: flex-start*/

.ex1 {
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color:#1a0870;;
}

.ex1 div{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: #2a8dfe;
}

.ex2 {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    background-color: darkblue;
}

.ex2 div{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: #2a8dfe;
}

.ex3 {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    background-color: darkblue;
}

.ex3 div{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: #2a8dfe;
}

.ex4 {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    background-color:darkblue;
}

.ex4 div{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: rgb(31, 93, 227);
}

.ex5 {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    background-color: darkblue;
}

.ex5 div{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: #2a8dfe;
}