body{
    background-color:indigo;
    color: aliceblue;
}
/* Exemplos de align-items: center*/
.ex1{
    display: flex;
    height: 200px;
    align-items: center;
    background-color: mediumpurple;
    gap: 30px;
}

.ex1 div{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: aliceblue;
    color: darkmagenta;
}

/*Exemplo de align-items: flex-start*/

.ex2{
    display: flex;
    height: 200px;
    align-items: flex-start;
    background-color: mediumpurple;
    gap: 30px;
}

.ex2 div{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: aliceblue;
    color: darkmagenta;
}

/*Exemplos de align-items: flex-end*/

.ex3{
    display: flex;
    height: 200px;
    align-items: flex-end;
    background-color: mediumpurple;
    gap: 30px;
}

.ex3 div{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: aliceblue;
    color: darkmagenta;
}

/*Exemplos de align-items: stretch*/

.ex4{
    display: flex;
    height: 200px;
    align-items: stretch;
    background-color: mediumpurple;
    gap: 30px;
}

.ex4 div{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: aliceblue;
    color: darkmagenta;
}

/*Exemplos de align-content: center */

.ex5{
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    align-content: center;
    background-color: mediumpurple;
    gap: 30px;
}

.ex5 div{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: aliceblue;
    color: darkmagenta;
}

/*Exemplos de align-content: space-between*/

.ex6{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    align-content: space-between;
    background-color: mediumpurple;
    gap: 30px;
}

.ex6 div{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: aliceblue;
    color: darkmagenta;
}

/*Exemplos de align-content: center e justify-content: */

.ex7{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    justify-content: center;
    align-content: center;
    gap: 30px;
    background-color: mediumpurple;
}

.ex7 div{
    width: 100px;
    height: 100px;
    align-content: center;
    text-align: center;
    background-color: aliceblue;
    color: darkmagenta;
}