body {
    background-color: darkslateblue;
    color: aliceblue;
}

.icone-youtube {
    font-size: 40px;
}

.icone-instagram {
    font-size: 40px;
}

.icone-tiktok {
    font-size: 40px;
}

.icone-twich {
    font-size: 40px;
}