body {
    background-color: rgb(76, 4, 83);
}

.ex1{
    border: 3px solid rgb(255, 132, 0);
    background-color: burlywood;
}

.ex1 {
    outline-style: solid;
    outline-width: 10px;
    outline-color: rgb(103, 67, 5);
    outline-offset: 10px;
    width: 400px;
    margin: 30px auto;
    border: 3px solid rgb(225, 131, 244);
    background-color: rgb(248, 142, 230);
}