@import url('https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');


body {
    background-color: darkorchid;
    color: aliceblue;
}


.ex1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ex2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ex3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ex4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ex5 {
    font-family: 'Times New Roman', Times, serif;
}

.ex6 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ex7 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.ex8 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.ex9 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.ex10 {
    font-family: cursive;
}

.ex11 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ex12 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.ex-google-fonte {
    font-family: "Playwrite AT", cursive;

}