body {
    background-color: rgb(167, 77, 231);
    justify-items: center;
}

    .el1 {
        background-color: rgb(233, 174, 245);
        width: 500px;
    }

    .ex1 {
        width: 500px;
        padding: 50px;
        box-sizing: border-box;
        background-color: rgb(91, 13, 163);
    }